<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001</string>
				<key>intro</key>
				<string>刷卡机发神经啊啥啊啥</string>
				<key>name</key>
				<string>好友0</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002</string>
				<key>intro</key>
				<string>啊啊啊啊啊啊是放假啊啥了</string>
				<key>name</key>
				<string>好友1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003</string>
				<key>intro</key>
				<string>骚发手机话费啊啊乱收费</string>
				<key>name</key>
				<string>好友3</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004</string>
				<key>intro</key>
				<string>啊手机话费拉基舍夫</string>
				<key>name</key>
				<string>好友4</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005</string>
				<key>intro</key>
				<string>啊手机发了哈时间f</string>
				<key>name</key>
				<string>好友5</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005</string>
				<key>intro</key>
				<string>啊啥赵云片撒娇返回</string>
				<key>name</key>
				<string>好友6</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006</string>
				<key>intro</key>
				<string>阿双方立即啊还是短发h</string>
				<key>name</key>
				<string>好友6</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007</string>
				<key>intro</key>
				<string>是理发师阿双方了哈啥</string>
				<key>name</key>
				<string>好友7</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>icon</key>
				<string>008</string>
				<key>intro</key>
				<string>撒开；放假啊；上看风景</string>
				<key>name</key>
				<string>好友1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009</string>
				<key>intro</key>
				<string>啊失联飞机啊好手机话费</string>
				<key>name</key>
				<string>好友2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>010</string>
				<key>intro</key>
				<string>阿双方就哈时间可发货</string>
				<key>name</key>
				<string>好友10</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>011</string>
				<key>intro</key>
				<string>阿双方了会撒娇返回</string>
				<key>name</key>
				<string>好友11</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>012</string>
				<key>intro</key>
				<string>啊李了哈啊啥；房价</string>
				<key>name</key>
				<string>好友12</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>小学同学</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>icon</key>
				<string>013</string>
				<key>intro</key>
				<string>阿隆索罚酒红拉风</string>
				<key>name</key>
				<string>好友13</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>014</string>
				<key>intro</key>
				<string>就啊沙发沙发</string>
				<key>name</key>
				<string>好友14</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>015</string>
				<key>intro</key>
				<string>啊啥；短发说法</string>
				<key>name</key>
				<string>好友15</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>016</string>
				<key>intro</key>
				<string>啊啥了会发觉舒服啦</string>
				<key>name</key>
				<string>好友16</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>017</string>
				<key>intro</key>
				<string>拉萨减肥哈酸辣粉哈了</string>
				<key>name</key>
				<string>好友18</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>019</string>
				<key>intro</key>
				<string>撒发生纠纷哈了就睡了</string>
				<key>name</key>
				<string>好友19</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>020</string>
				<key>intro</key>
				<string>啊啥；反；阿克苏</string>
				<key>name</key>
				<string>好友20</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>021</string>
				<key>intro</key>
				<string>撒疯了好几撒会发觉老师</string>
				<key>name</key>
				<string>好友21</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>初中同学</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>icon</key>
				<string>030</string>
				<key>intro</key>
				<string>啊手机发哈简历</string>
				<key>name</key>
				<string>好友30</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>031</string>
				<key>intro</key>
				<string>；啊是放假；啊啥</string>
				<key>name</key>
				<string>好友31</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>032</string>
				<key>intro</key>
				<string>啊；双方哈是放假啊啥</string>
				<key>name</key>
				<string>好友32</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>033</string>
				<key>intro</key>
				<string>可是啊；凡撒谎说</string>
				<key>name</key>
				<string>好友33</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>034</string>
				<key>intro</key>
				<string>法律手机话费立即啊是放假啊老师</string>
				<key>name</key>
				<string>好友34</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>035</string>
				<key>intro</key>
				<string>放假哈手机发哈乱收费</string>
				<key>name</key>
				<string>好友35</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>036</string>
				<key>intro</key>
				<string>啊手机的话费立即啊是放假啊老师了</string>
				<key>name</key>
				<string>好友36</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>037</string>
				<key>intro</key>
				<string>啊还是短发哈是发神经了哈</string>
				<key>name</key>
				<string>好友37</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>038</string>
				<key>intro</key>
				<string>就啊卡斯蒂略话费立即啊是离开</string>
				<key>name</key>
				<string>好友38</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>高中同学</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>icon</key>
				<string>027</string>
				<key>intro</key>
				<string>大学啊就是减肥哈士力架</string>
				<key>name</key>
				<string>好友001</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009</string>
				<key>intro</key>
				<string>大学啊是放假啊手机</string>
				<key>name</key>
				<string>好友002</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>037</string>
				<key>intro</key>
				<string>就啊是放假啊l</string>
				<key>name</key>
				<string>好友003</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>025</string>
				<key>intro</key>
				<string>阿双方了哈啦就是</string>
				<key>name</key>
				<string>好友004</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>017</string>
				<key>intro</key>
				<string>啊手机发哈啦就开始了</string>
				<key>name</key>
				<string>好友005</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>039</string>
				<key>intro</key>
				<string>解放啦啦世界大会发来计算</string>
				<key>name</key>
				<string>好友006</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>大学同学</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001</string>
				<key>intro</key>
				<string>iOS开发－－－－－－－</string>
				<key>name</key>
				<string>iOS001</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002</string>
				<key>intro</key>
				<string>iOS开发－－－－</string>
				<key>name</key>
				<string>iOS002</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003</string>
				<key>intro</key>
				<string>iOS开发－－－－</string>
				<key>name</key>
				<string>iOS003</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>iOS开发</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>icon</key>
				<string>005</string>
				<key>intro</key>
				<string>安卓－－－－－</string>
				<key>name</key>
				<string>安卓001</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009</string>
				<key>intro</key>
				<string>安卓－－－－</string>
				<key>name</key>
				<string>安卓002</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>039</string>
				<key>intro</key>
				<string>安卓－－－－</string>
				<key>name</key>
				<string>安卓003</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>028</string>
				<key>intro</key>
				<string>安卓－－－－</string>
				<key>name</key>
				<string>安卓004</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>安卓开发</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<dict>
				<key>icon</key>
				<string>028</string>
				<key>intro</key>
				<string>PHP－－－－</string>
				<key>name</key>
				<string>PHP001</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>037</string>
				<key>intro</key>
				<string>PHP－－－－</string>
				<key>name</key>
				<string>PHP002</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>PHP开发</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
